.header img{
    height : 120px;   
}
.header{
    text-align: center;
}
.header nav{
    background-color: green;
    line-height: 50px;
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px; 
}
nav a:hover{
    background-color: grey;
}